@inherits AppAuthComponentBase

<div class="flex justify-between w-full">
    @if (LeftHeader != null)
    {
        @LeftHeader
    }
    else
    {
        <div class="w-1/3"></div>
    }
    <div class="w-1/3 flex justify-center">
        <div class=@ClassNames(ColumnsSliderClass ?? "mb-4 overflow-hidden sm:rounded-md w-[320px] text-center")>
            <label for="steps-range" class="block text-sm font-medium text-gray-600 dark:text-gray-400">@UserState.AppPrefs.ArtifactGalleryColumns columns</label>
            <input id="steps-range" @bind="UserState.AppPrefs.ArtifactGalleryColumns" @bind:event="oninput" @onchange="UserState.SaveAppPrefs" type="range" min="1" max="12" step="1" class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer dark:bg-gray-700">
        </div>
    </div>
    @if (RightHeader != null)
    {
        @RightHeader
    }
    else
    {
        <div class="w-1/3"></div>
    }
</div>

@{
    // tailwind needs to see full classses
    var colCls = new Dictionary<string, string> {
        ["1"] = "grid-cols-1",
        ["2"] = "grid-cols-2",
        ["3"] = "grid-cols-3",
        ["4"] = "grid-cols-4",
        ["5"] = "grid-cols-5",
        ["6"] = "grid-cols-6",
        ["7"] = "grid-cols-7",
        ["8"] = "grid-cols-8",
        ["9"] = "grid-cols-9",
        ["10"] = "grid-cols-10",
        ["11"] = "grid-cols-11",
        ["12"] = "grid-cols-12",
    };
}
<div class=@ClassNames("grid", colCls.TryGetValue(UserState.AppPrefs.ArtifactGalleryColumns, out var cls) ? cls : "grid-cols-6")>
@foreach (var artifact in Artifacts.OrEmpty())
{
    <div @key=@artifact.Id class=@ClassNames(artifact.Width > artifact.Height ? "col-span-2" : artifact.Height > artifact.Width ? "row-span-2" : "")>

    <div @onclick="_ => navTo(artifact.Id)"
             class=@ClassNames("overflow-hidden flex justify-center")>
        <div class="relative p-2 flex flex-col cursor-pointer items-center" style=@($"max-width:{artifact.Width}px")
             @oncontextmenu="e => showArtifactMenu(e, artifact)" @oncontextmenu:preventDefault>

            <ArtifactImage Artifact="artifact" LazyLoad="LazyLoad ?? true" 
                class=@ClassNames("rounded-xl border-2", ResolveBorderColor(artifact, Selected?.Id, UserState)) />

            <div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden m-1 rounded-xl">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp px-2 pb-2 text-sm px-2 opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>

                <div class="absolute w-full h-full flex z-10 text-zinc-100 justify-between drop-shadow opacity-0 group-hover:opacity-100 transition-opacity mb-1 text-sm">
                    <div class="relative w-full h-full overflow-hidden flex flex-col justify-between overflow-hidden">
                        <div class="p-4 flex justify-between flex-none">
                            @if (TopRightIcon != null)
                            {
                                @TopRightIcon(artifact)
                            }
                            else
                            {
                                <div class="cursor-pointer" @onclick="e => exploreSimilar(artifact)" @onclick:stopPropagation @onclick:preventDefault>
                                    <svg class="w-6 h-6 text-cyan-600 hover:text-cyan-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                            <title>explore similar</title>
                                            <path d="m11.25 11.25l3 3" /><circle cx="7.5" cy="7.5" r="4.75" />
                                        </g>
                                    </svg>
                                </div>
                            }
                            <div class="px-1 cursor-pointer" @onclick="e => showArtifactMenu(e, artifact)" @onclick:stopPropagation @onclick:preventDefault>
                                <svg class="w-6 h-6 text-cyan-600 hover:text-cyan-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><circle cx="8" cy="2.5" r=".75" /><circle cx="8" cy="8" r=".75" /><circle cx="8" cy="13.5" r=".75" /></g>
                                </svg>
                            </div>
                        </div>
                        <div>
                            <div class="pb-2 px-4">
                            @if (UserState.HasLiked(artifact))
                            {
                                <svg @onclick="_ => UnlikeArtifactAsync(artifact)" @onclick:stopPropagation @onclick:preventDefault
                                     class="w-6 h-6 text-red-600 hover:text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>undo like</title>
                                    <path fill="currentColor" d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z" />
                                </svg>
                            }
                            else
                            {
                                <svg @onclick="_ => LikeArtifactAsync(artifact)" @onclick:stopPropagation @onclick:preventDefault
                                     class="w-6 h-6 text-cyan-600 hover:text-cyan-400" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <title>like</title>
                                    <path fill="currentColor" d="M12 21c-.645-.572-1.374-1.167-2.145-1.8h-.01c-2.715-2.22-5.792-4.732-7.151-7.742c-.446-.958-.683-2-.694-3.058A5.39 5.39 0 0 1 7.5 3a6.158 6.158 0 0 1 3.328.983A5.6 5.6 0 0 1 12 5c.344-.39.738-.732 1.173-1.017A6.152 6.152 0 0 1 16.5 3A5.39 5.39 0 0 1 22 8.4a7.422 7.422 0 0 1-.694 3.063c-1.359 3.01-4.435 5.521-7.15 7.737l-.01.008c-.772.629-1.5 1.224-2.145 1.8L12 21ZM7.5 5a3.535 3.535 0 0 0-2.5.992A3.342 3.342 0 0 0 4 8.4c.011.77.186 1.53.512 2.228A12.316 12.316 0 0 0 7.069 14.1c.991 1 2.131 1.968 3.117 2.782c.273.225.551.452.829.679l.175.143c.267.218.543.444.81.666l.013-.012l.006-.005h.006l.009-.007h.01l.018-.015l.041-.033l.007-.006l.011-.008h.006l.009-.008l.664-.545l.174-.143c.281-.229.559-.456.832-.681c.986-.814 2.127-1.781 3.118-2.786a12.298 12.298 0 0 0 2.557-3.471c.332-.704.51-1.472.52-2.25A3.343 3.343 0 0 0 19 6a3.535 3.535 0 0 0-2.5-1a3.988 3.988 0 0 0-2.99 1.311L12 8.051l-1.51-1.74A3.988 3.988 0 0 0 7.5 5Z" />
                                </svg>
                            }
                            </div>

                            @if (artifact is ArtifactResult result)
                            {
                                <div class="flex bg-white/40 bg-black/40 pt-2 pl-4 pb-4 pr-4 w-full">
                                    <div class="w-full">
                                        <h2 class="truncate text-base font-medium text-gray-900 dark:text-gray-200">@result.UserPrompt</h2>
                                        <div class="mt-1">
                                            @if (result.ModifierNames?.Count > 0)
                                            {
                                                <p class="truncate text-xs text-gray-500">
                                                    @string.Join(", ", result.ModifierNames.OrEmpty())
                                                </p>
                                            }
                                            @if (result.ArtistNames?.Count > 0)
                                            {
                                                <p class="truncate text-xs text-gray-500">
                                                    @($" by {string.Join(", ", result.ArtistNames)}")
                                                </p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="mt-4"></div>
                            }
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    </div>
}
</div>

@if (Creative != null && Selected != null)
{
    <SlideOver Done=@(_ => navTo()) ShowTitlebar="false" ShowFooter="false">
    @*Guard against NRE when navigating away whilst SlideOver is open*@
    @if (Creative != null && Selected != null)
    {
    <div class=@CssDefaults.SlideOver.TitlebarClass>
        <div class="flex items-start justify-between space-x-3">
            <div class="space-y-1">
                <h2 class="text-lg font-medium text-gray-900 dark:text-gray-200">@Creative.UserPrompt</h2>
                <div class="mt-1">
                    <p class="text-sm text-gray-500">
                        @{ var i = 0; }
                        @foreach (var modifier in Creative.ModifierNames)
                        {
                            @(i++ > 0 ? ", " : "")
                            <NavLink @key=modifier class="text-gray-400 hover:text-gray-200" href=@($"/?modifier={modifier}")>@modifier</NavLink>
                        }
                        @if (Creative.ArtistNames.Count > 0)
                        {
                            i = 0;
                            <span class="px-2 text-gray-300">by</span>
                            @foreach (var artist in Creative.ArtistNames)
                            {
                                @(i++ > 0 ? ", " : "")
                                <NavLink @key=artist class="text-gray-400 hover:text-gray-200" href=@($"/?artist={artist.Replace(' ',',')}")>@artist</NavLink>
                            }
                        }
                    </p>    
                </div>
            </div>
            <div class="flex h-7 items-center">
                <button type="button" @onclick=@(_ => navTo()) class=@CssDefaults.SlideOver.CloseButtonClass.Replace("dark:bg-black", "dark:bg-gray-900")>
                    <span class="sr-only">Close panel</span>
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="p-2 mt-4 flex flex-col items-center">

        <div class="relative p-2 flex flex-col"
             @oncontextmenu="e => showArtifactMenu(e, Active)" @oncontextmenu:preventDefault>

            <ArtifactImage Artifact="Active" class="rounded-lg" />

            <div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden m-1 rounded-xl">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp px-2 pb-2 text-sm px-2 opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>

                <div class="absolute w-full h-full flex z-10 text-zinc-100 justify-between drop-shadow opacity-0 group-hover:opacity-100 transition-opacity mb-1 text-sm">
                    <div class="relative w-full h-full overflow-hidden flex flex-col justify-between overflow-hidden">

                        <div class="p-4 flex justify-between flex-none">
                            <div class="cursor-pointer" @onclick="e => exploreSimilar(Selected)" @onclick:stopPropagation @onclick:preventDefault>
                                <svg class="w-6 h-6 text-cyan-600 hover:text-cyan-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5">
                                    <title>explore similar</title>
                                    <path d="m11.25 11.25l3 3"/><circle cx="7.5" cy="7.5" r="4.75"/></g>
                                </svg>
                            </div>
                            <div class="px-1 cursor-pointer" @onclick="e => showArtifactMenu(e, Active, 140)" @onclick:stopPropagation @onclick:preventDefault>
                                <svg class="w-5 h-5 text-cyan-600 hover:text-cyan-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><circle cx="8" cy="2.5" r=".75" /><circle cx="8" cy="8" r=".75" /><circle cx="8" cy="13.5" r=".75" /></g>
                                </svg>
                            </div>
                        </div>

                        <div>
                            <div class="pb-2 px-4">
                            @if (UserState.HasLiked(Active))
                            {
                                <svg @onclick="_ => UserState.UnlikeArtifactAsync(Active)" @onclick:stopPropagation @onclick:preventDefault
                                    class="cursor-pointer mr-4 w-6 h-6 text-red-600 hover:text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                    <title>undo like</title>
                                    <path fill="currentColor" d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z" />
                                </svg>
                            }
                            else
                            {
                                <svg @onclick="_ => UserState.LikeArtifactAsync(Active)" @onclick:stopPropagation @onclick:preventDefault
                                    class="cursor-pointer mr-4 w-6 h-6 text-cyan-600 hover:text-cyan-400" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <title>like</title>
                                    <path fill="currentColor" d="M12 21c-.645-.572-1.374-1.167-2.145-1.8h-.01c-2.715-2.22-5.792-4.732-7.151-7.742c-.446-.958-.683-2-.694-3.058A5.39 5.39 0 0 1 7.5 3a6.158 6.158 0 0 1 3.328.983A5.6 5.6 0 0 1 12 5c.344-.39.738-.732 1.173-1.017A6.152 6.152 0 0 1 16.5 3A5.39 5.39 0 0 1 22 8.4a7.422 7.422 0 0 1-.694 3.063c-1.359 3.01-4.435 5.521-7.15 7.737l-.01.008c-.772.629-1.5 1.224-2.145 1.8L12 21ZM7.5 5a3.535 3.535 0 0 0-2.5.992A3.342 3.342 0 0 0 4 8.4c.011.77.186 1.53.512 2.228A12.316 12.316 0 0 0 7.069 14.1c.991 1 2.131 1.968 3.117 2.782c.273.225.551.452.829.679l.175.143c.267.218.543.444.81.666l.013-.012l.006-.005h.006l.009-.007h.01l.018-.015l.041-.033l.007-.006l.011-.008h.006l.009-.008l.664-.545l.174-.143c.281-.229.559-.456.832-.681c.986-.814 2.127-1.781 3.118-2.786a12.298 12.298 0 0 0 2.557-3.471c.332-.704.51-1.472.52-2.25A3.343 3.343 0 0 0 19 6a3.535 3.535 0 0 0-2.5-1a3.988 3.988 0 0 0-2.99 1.311L12 8.051l-1.51-1.74A3.988 3.988 0 0 0 7.5 5Z" />
                                </svg>
                            }
                            </div>
                            <div class="mt-4"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="flex">
            <span class="my-2 mx-4 text-sm text-gray-600 dark:text-gray-400">@Active.Height x @Active.Width</span>
            <span class="my-2 mx-4 text-sm text-gray-600 dark:text-gray-400">@TextUtils.FormatBytes(Active.ContentLength)</span>
        </div>
        <div class="flex flex-wrap">
            <a class="mb-4 flex text-sm text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100" href=@Active.GetDownloadUrl() target="_blank">
                <svg class="w-5 h-5 mr-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 20h12M12 4v12m0 0l3.5-3.5M12 16l-3.5-3.5" /></svg>
                download
            </a>
            <NavLink href=@($"/create?id={Selected.CreativeId}")
                class="ml-8 mb-4 flex text-sm text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100">
                <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                    <path fill="currentColor" d="M13.74 10.25h8.046v2.626l7.556-4.363l-7.556-4.363v2.598H9.826c1.543.864 2.79 2.174 3.915 3.5zm8.046 10.404c-.618-.195-1.407-.703-2.29-1.587c-1.79-1.756-3.713-4.675-5.732-7.227c-2.05-2.486-4.16-4.972-7.45-5.09h-3.5v3.5h3.5c.655-.028 1.682.485 2.878 1.682c1.788 1.753 3.712 4.674 5.73 7.226c1.922 2.33 3.908 4.64 6.864 5.016v2.702l7.556-4.362l-7.556-4.362v2.502z" />
                </svg>
                new from this
            </NavLink>
        </div>
    </div>

    <div class="flex flex-wrap justify-center">
        @foreach (var a in Creative.GetArtifacts())
        {
            <div @key=@a.Id @onclick=@(_ => navTo(Selected.Id, a.Id)) @onclick:stopPropagation @onclick:preventDefault
                class="relative overflow-hidden cursor-pointer">
                <div class="relative flex justify-center mr-4 mb-4">
                    <ArtifactImage Artifact="a" MinSize="128" class=@ClassNames("rounded-xl border-2", ResolveBorderColor(a, Viewing?.Id, UserState)) />

                    <div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden rounded-xl">
                        <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp px-2 pb-2 text-sm px-2 opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>
                    </div>

                </div>
            </div>
        }
    </div>

    <div class="mt-2 flex justify-center">
        <NavLink href=@($"/?user={Creative.OwnerRef}")
            class="ml-8 mb-4 flex text-sm text-gray-600 dark:text-gray-400 hover:text-gray-900 dark:hover:text-gray-100">
            <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M9.5 4a6.5 6.5 0 0 1 4.932 10.734l5.644 5.644l-.707.707l-5.645-5.645A6.5 6.5 0 1 1 9.5 4Zm0 1a5.5 5.5 0 1 0 0 11a5.5 5.5 0 0 0 0-11Z" /></svg>
            by creator
        </NavLink>
    </div>

    @if (GetArtifactAlbums().Count() > 0)
    {
        <div class="ml-4 mb-8 text-sm text-gray-600 dark:text-gray-400">
            <div class="flex whitespace-nowrap w-24">
                <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M9.5 4a6.5 6.5 0 0 1 4.932 10.734l5.644 5.644l-.707.707l-5.645-5.645A6.5 6.5 0 1 1 9.5 4Zm0 1a5.5 5.5 0 1 0 0 11a5.5 5.5 0 0 0 0-11Z" /></svg>
                top albums
            </div>
            <div class="flex flex-wrap">
            @foreach (var album in GetArtifactAlbums())
            {
                var albumCover = UserState.GetAlbumCoverArtifact(album);
                @if (albumCover != null)
                {
                    <NavLink @key=album.AlbumRef href=@($"/?album={album.AlbumRef}&source={AppSource.InAlbum}") class="flex flex-col group mr-2">
                        <div class=@ClassNames("mt-2 hover:opacity-80 cursor-pointer h-24 w-24 overflow-hidden rounded-lg border-2 border-transparent")>
                            <ArtifactImage Artifact=@albumCover class="flex w-full h-full" ImageClass="object-cover" />
                        </div>
                        <div class="w-24 text-center overflow-hidden group-hover:text-gray-200">
                            @album.Name
                        </div>
                    </NavLink>
                }
            }
            </div>
        </div>
    }

    @if (IsModerator)
    {
        <div class="mt-12 text-center">
            <ConfirmDelete OnDelete="async () => await hardDelete(Selected.CreativeId)" />
        </div>
    }

    }
    </SlideOver>
}

@if (artifactMenu != null)
{
    <ArtifactMenu Artifact=artifactMenu Position="artifactMenuArgs" OffsetX="artifactOffsetX" Done="hideArtifactMenu" Change="OnChange">
        <TopMenu>
        @if (TopMenu != null)
        {
            @TopMenu(artifactMenu)
        }
        </TopMenu>
        <BottomMenu>
        @if (BottomMenu != null)
        {
            @BottomMenu(artifactMenu)
        }
        </BottomMenu>
    </ArtifactMenu>
}
