@inherits AppAuthComponentBase

<div class="absolute z-10 top-0 left-0 w-full h-full" @onmouseover="OnDone">

    <div class="absolute p-8" style=@($"top:{Position.PageY-OffsetY}px;left:{Position.PageX-OffsetX}px")
         @onmouseover:stopPropagation @onmouseover:preventDefault @oncontextmenu:preventDefault>
        <div class="rounded-md whitespace-nowrap bg-white dark:bg-black shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1" role="none">
                @if (TopMenu != null)
                {
                    @TopMenu(Artifact)
                }

                @if (IsModerator)
                {
                    @*
                    <div @onclick="OnDone" class="text-gray-700 dark:text-gray-100 bg-gray-300 dark:bg-gray-700 px-4 py-2 text-sm" role="menuitem" tabindex="-1">
                        @Artifact.TemporalScore / @Artifact.Score = @((Artifact as ArtifactResult)?.PrimaryArtifactId == Artifact.Id ? "P" : "") @Artifact.LikesCount@("L") @Artifact.AlbumsCount@("A") @Artifact.DownloadsCount@("D") @Artifact.SearchCount@("S")
                    </div>
                    *@
                    if (Artifact is ArtifactResult result && result.Similarity > 0)
                    {
                        <div @onclick="OnDone" class="text-gray-700 dark:text-gray-100 bg-gray-300 dark:bg-gray-700 px-4 py-2 text-sm" role="menuitem" tabindex="-1">Similarity @(result.Similarity)%</div>
                    }
                    <div @onclick="toggleNsfw" class="flex cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 py-2 pr-4 text-sm" role="menuitem" tabindex="-1">
                        <svg class=@ClassNames("h-5 w-5 ml-1 mr-1.5", Artifact.Nsfw == true ? "" : "invisible") xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Mark as NSFW
                    </div>
                    <div @onclick="_ => setQuality(Artifact.Quality == -1 ? 0 : -1)" class="flex cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 py-2 pr-4 text-sm" role="menuitem" tabindex="-1">
                        <svg class=@ClassNames("h-5 w-5 ml-1 mr-1.5", Artifact.Quality == -1 ? "" : "invisible") xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Mark as Poor Quality
                    </div>
                    <div @onclick="_ => setQuality(Artifact.Quality == -2 ? 0 : -2)" class="flex cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 py-2 pr-4 text-sm" role="menuitem" tabindex="-1">
                        <svg class=@ClassNames("h-5 w-5 ml-1 mr-1.5", Artifact.Quality == -2 ? "" : "invisible") xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Mark as Malformed
                    </div>
                    <div @onclick="_ => setQuality(Artifact.Quality == -3 ? 0 : -3)" class="flex cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 py-2 pr-4 text-sm" role="menuitem" tabindex="-1">
                        <svg class=@ClassNames("h-5 w-5 ml-1 mr-1.5", Artifact.Quality == -3 ? "" : "invisible") xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Mark as Blurred
                    </div>
                    <div @onclick="_ => setQuality(Artifact.Quality == -4 ? 0 : -4)" class="flex cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 py-2 pr-4 text-sm" role="menuitem" tabindex="-1">
                        <svg class=@ClassNames("h-5 w-5 ml-1 mr-1.5", Artifact.Quality == -4 ? "" : "invisible") xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                        </svg>
                        Mark Lowest Quality
                    </div>
                    @*
                    <div @onclick="findSimilarByPerceptual" class="flex flex cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 pl-2 pr-4 py-2 text-sm" role="menuitem" tabindex="-1">
                        <svg class="w-5 h-5 mr-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M9.5 4a6.5 6.5 0 0 1 4.932 10.734l5.644 5.644l-.707.707l-5.645-5.645A6.5 6.5 0 1 1 9.5 4Zm0 1a5.5 5.5 0 1 0 0 11a5.5 5.5 0 0 0 0-11Z" /></svg>
                        Explore Perceptual
                    </div>
                    <div @onclick="findSimilarByAvg" class="flex flex cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 pl-2 pr-4 py-2 text-sm" role="menuitem" tabindex="-1">
                        <svg class="w-5 h-5 mr-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M9.5 4a6.5 6.5 0 0 1 4.932 10.734l5.644 5.644l-.707.707l-5.645-5.645A6.5 6.5 0 1 1 9.5 4Zm0 1a5.5 5.5 0 1 0 0 11a5.5 5.5 0 0 0 0-11Z" /></svg>
                        Explore Average
                    </div>
                    <div @onclick="findSimilarByDiff" class="flex flex cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 pl-2 pr-4 py-2 text-sm" role="menuitem" tabindex="-1">
                        <svg class="w-5 h-5 mr-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M9.5 4a6.5 6.5 0 0 1 4.932 10.734l5.644 5.644l-.707.707l-5.645-5.645A6.5 6.5 0 1 1 9.5 4Zm0 1a5.5 5.5 0 1 0 0 11a5.5 5.5 0 0 0 0-11Z" /></svg>
                        Explore Difference
                    </div>
                    *@
                }

                <a href=@Artifact.GetDownloadUrl() target="_blank" class="flex flex cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 pl-2 pr-4 py-2 text-sm" role="menuitem" tabindex="-1">
                    <svg class="w-5 h-5 mr-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 20h12M12 4v12m0 0l3.5-3.5M12 16l-3.5-3.5" /></svg>
                    Download
                </a>

                <div @onclick="openReport" class="cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 px-4 py-2 text-sm" role="menuitem" tabindex="-1">
                    Report
                </div>

                <div @onclick="OnDone" class="whitespace-nowrap text-gray-700 dark:text-gray-100 bg-gray-300 dark:bg-gray-700 px-4 py-2 text-sm" role="menuitem" tabindex="-1">Albums</div>

                @if (BottomMenu != null)
                {
                    @BottomMenu(Artifact)
                }

                <div @onclick="openNewAlbum" class="group whitespace-nowrap flex items-center cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">
                    <svg class="mr-2 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path fill="currentColor" d="M6 1.5a.5.5 0 0 0-1 0V5H1.5a.5.5 0 0 0 0 1H5v3.5a.5.5 0 0 0 1 0V6h3.5a.5.5 0 0 0 0-1H6V1.5Z"/></svg>
                    New Album
                </div>

                @foreach (var album in UserState.UserAlbums)
                {
                    <div @onclick="_ => saveToAlbum(album)" class="group whitespace-nowrap flex items-center cursor-pointer text-gray-700 dark:text-gray-300 dark:text-gray-300 dark:hover:bg-gray-800 px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">
                        @if (album.ArtifactIds.Contains(Artifact.Id))
                        {
                            <svg class=@ClassNames("mr-2 h-5 w-5 text-gray-400 group-hover:text-gray-500") xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                            </svg>
                        }
                        else
                        {
                            <svg class="mr-2 h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M11.975 17.025L16 13l-4.025-4.025l-1.4 1.4L12.2 12H8v2h4.2l-1.625 1.625ZM2 20V4h8l2 2h10v14Zm2-2h16V8h-8.825l-2-2H4Zm0 0V6v2Z" /></svg>
                        }
                        @album.Name
                    </div>
                }

            </div>
        </div>
    </div>

</div>

@if (artifactView == PageView.Report)
{
    <NewReport Artifact=@Artifact Done="OnDone" />
}
else if (artifactView == PageView.NewAlbum)
{
    <NewAlbum Artifact=@Artifact Done="OnDone" />
}
