@inherits AppAuthComponentBase

<div @key=@Artifact.Id class=@ClassNames("relative",
     Artifact.Width > Artifact.Height ? "col-span-2" : Artifact.Height > Artifact.Width ? "row-span-2" : "")>

    <a href=@Ssg.GetArtifact(Artifact)
       class=@ClassNames("overflow-hidden flex justify-center")>
        <div class="relative sm:p-2 flex flex-col cursor-pointer items-center" style=@($"max-width:{Artifact.Width}px")>

            <ArtifactImage Artifact="Artifact" class=@ClassNames("rounded sm:rounded-xl border sm:border-2", Artifact.Background != null ? "border-black" : "border-transparent") />

            <div class="absolute top-0 left-0 w-full h-full group select-none overflow-hidden sm:m-1 rounded sm:rounded-xl">
                <div class="w-full h-full absolute inset-0 z-10 block text-zinc-100 drop-shadow pointer-events-none line-clamp sm:px-2 sm:pb-2 text-sm opacity-0 group-hover:opacity-40 transition duration-300 ease-in-out bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-gray-700 via-gray-900 to-black"></div>

                <div class="absolute w-full h-full flex z-10 text-zinc-100 justify-between drop-shadow opacity-0 group-hover:opacity-100 transition-opacity sm:mb-1 text-sm">
                    <div class="relative w-full h-full overflow-hidden flex flex-col justify-between overflow-hidden">
                        <div data-component="artifact-icons" data-props="{ artifactId: @Artifact.Id, artifactRefId:'@Artifact.RefId' }"></div>
                        <div>
                            @if (Artifact is ArtifactResult result)
                            {
                                <div class="hidden sm:flex bg-black/40 sm:pt-2 sm:pl-4 sm:pb-4 sm:pr-4 w-full">
                                    <div class="w-full">
                                        <h2 class="truncate text-base font-medium text-gray-900 dark:text-gray-200">@result.UserPrompt</h2>
                                        <div class="mt-1">
                                            @if (result.ModifierNames?.Count > 0)
                                            {
                                                <p class="truncate text-xs text-gray-500">
                                                    @string.Join(", ", result.ModifierNames.OrEmpty())
                                                </p>
                                            }
                                            @if (result.ArtistNames?.Count > 0)
                                            {
                                                <p class="truncate text-xs text-gray-500">
                                                    @($" by {string.Join(", ", result.ArtistNames)}")
                                                </p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="sm:mt-4"></div>
                            }
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </a>
</div>

@code {
    [Parameter, EditorRequired] public Artifact Artifact { get; set; } = default!;
}
